/* home.css */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
  font-family: Arial, sans-serif;
}

.home-container {
  display: flex;
  flex-direction: column;
  background-image: url("../ima/3.png"); /* Asegúrate de que la ruta sea correcta */
  background-size: cover; /* Asegura que la imagen cubra todo el área */
  background-position: center; /* Centra la imagen */
  height: 100vh;
  background-repeat: no-repeat; /* Evita que la imagen se repita */
}

.home-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(51, 51, 51, 0.7); /* Fondo oscuro con opacidad */
  color: #fff;
  padding: 1rem;
  width: 100%;
}

.home-logo {
  font-size: 1.5rem;
  font-weight: bold;
}

.home-buttons {
  display: flex;
}

.home-btn {
  background-color: #555;
  color: #fff;
  padding: 0.5rem 1rem;
  margin-left: 0.5rem;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
  text-decoration: none;
}

.home-btn:hover {
  background-color: #777;
}

.home-main-content {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(240, 240, 240, 0.45); /* Fondo más visible */
  width: 100%;
}

.home-console-container {
  width: 80%;
  height: 80%;
  border: 2px dashed #000000;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  color: #0f0f0f;
}
