/* addadmin.css */

/* Reset de márgenes y rellenos para todos los elementos */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilos globales para html y body */
html, body {
    width: 100%;
    height: 100%;
    font-family: 'Sour Gummy', sans-serif;
}

/* Contenedor principal para la página de Add Admin */
.addadmin-page-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

/* Estilo para el encabezado */
.addadmin-page-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    color: #fff;
    padding: 1rem;
}

/* Logo dentro del encabezado */
.addadmin-page-logo {
    font-size: 1.5rem;
    font-weight: bold;
}

/* Contenedor para los botones de navegación */
.addadmin-page-buttons {
    display: flex;
}

/* Estilo para los botones de navegación */
.addadmin-page-btn {
    background-color: #555;
    color: #fff;
    padding: 0.5rem 1rem;
    margin-left: 0.5rem;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
    text-decoration: none;
}

/* Efecto hover para los botones de navegación */
.addadmin-page-btn:hover {
    background-color: #777;
}

/* Contenedor principal del contenido */
.addadmin-page-main-content {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f5f5f5;
    padding: 2rem;
}

@media (max-width: 600px) {
    .addadmin-page-main-content {
        padding: 1rem;
    }
}

/* Estilos del formulario */
form {
    background-color: #fff;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
}

.form-group {
    margin-bottom: 1rem;
}

.form-label {
    display: block;
    margin-bottom: 0.5rem;
    font-weight: bold;
    font-size: 0.9rem;
    color: #333;
}

.form-input {
    width: 100%;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1rem;
    color: #333;
}

.form-input::placeholder {
    color: #888;
    font-size: 0.9rem;
}

.form-input:focus {
    border-color: #007BFF;
    outline: none;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

.form-button {
    background-color: #007BFF;
    color: #fff;
    padding: 0.75rem 1.5rem;
    border: none;
    border-radius: 4px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.form-button:hover {
    background-color: #0056b3;
}
