/* Contenedor principal */
.admin-page-container {
    display: flex;
    flex-direction: column;
    min-height: 100%; /* Ajusta la altura mínima */
}

/* Contenido principal */
.admin-page-main-content {
    padding: 20px;
    background-color: #f1f3f59d; /* Fondo blanco con algo de transparencia */
    margin: 20px auto; /* Centra el contenido horizontalmente */
    width: 95%; /* Hace que el contenedor ocupe todo el ancho de la pantalla */
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* Estilo para el encabezado */
.admin-page-header-container {
    display: flex;
    justify-content: space-between; /* Distribuye espacio entre elementos */
    align-items: center; /* Centra verticalmente */
    margin-bottom: 20px;
}

.admin-page-title {
    font-size: 24px;
    color: #444;
}

/* Botón de agregar admin */
.admin-page-btn {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    font-weight: bold;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.admin-page-btn:hover {
    background-color: #0056b3;
}

/* Tabla */
.admin-page-table-container {
    width: 100%;
    overflow-x: auto; 
    margin-top: 20px;
}

.admin-page-table {
    width: 100%;
    min-width: 1200px; /* Ajusta el ancho mínimo de la tabla */
    border-collapse: collapse;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.admin-page-table th, .admin-page-table td {
    padding: 12px;
    text-align: center;
    border: 1px solid lightgray;
}

.admin-page-table th {
    background-color: #f1f3f5;
    font-weight: bold;
}

.admin-page-table tr:nth-child(even) {
    background-color: #f1f3f54f;
}

.admin-page-table tr:hover {
    background-color: #e9ecef;
}

/* Botones en la tabla */
.admin-page-table td button {
    width: 100%; /* Hace que los botones se ajusten al tamaño de la celda */
    padding: 6px 12px;
    border: none;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.admin-page-edit-btn {
    background-color: #28a745;
    color: white;
}

.admin-page-edit-btn:hover {
    background-color: #218838;
}

.admin-page-delete-btn {
    background-color: #dc3545;
    color: white;
}

.admin-page-delete-btn:hover {
    background-color: #c82333;
}

/* Ajustes para pantallas más pequeñas */
@media (max-width: 768px) {
    .admin-page-table {
        font-size: 14px; /* Reduce el tamaño de la fuente en pantallas más pequeñas */
    }

    .admin-page-btn {
        padding: 8px 16px; /* Reduce el tamaño del botón */
    }

    .admin-page-search {
        width: 200px; /* Ajusta el tamaño del campo de búsqueda */
    }
}
